<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    
    <!-- Brand -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Search bar (always visible) -->
        <form class="d-flex" method="GET" action="/listings/search">
          <input
            class="form-control me-2 search-inp"
            name="query"
            type="search"
            placeholder="Search destinations"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search
          </button>
        </form>

    <!-- Toggle button -->
    <button class="navbar-toggler order-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible menu -->
    <div class="collapse navbar-collapse order-md-3" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/listings/new">Airbnb your home</a></li>
        <% if (!currUser) { %>
          <li class="nav-item"><a class="nav-link fw-bold" href="/signup">Sign up</a></li>
          <li class="nav-item"><a class="nav-link fw-bold" href="/login">Log in</a></li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link fw-bold" href="/logout">Log out</a></li>
        <% } %>
      </ul>
    </div>
    
  </div>
</nav>
