<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    
    <!-- Brand -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Desktop Search -->
    <form class="d-none d-md-flex search-form mx-2" method="GET" action="/listings/search">
      <input class="form-control search-inp" name="query" type="search" placeholder="Search destinations" />
      <button class="btn btn-search" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i> Search
      </button>
    </form>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="d-md-none d-flex justify-content-between align-items-center mb-3">
        <!-- Mobile Search -->
        <form class="d-flex w-100 me-2" method="GET" action="/listings/search">
          <input class="form-control search-inp" name="query" type="search" placeholder="Search destinations" />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <!-- Close Button -->
        <button class="btn btn-outline-secondary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/listings/new">Airbnb your home</a></li>
        <% if (!currUser) { %>
          <li class="nav-item"><a class="nav-link fw-bold" href="/signup">Sign up</a></li>
          <li class="nav-item"><a class="nav-link fw-bold" href="/login">Log in</a></li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link fw-bold" href="/logout">Log out</a></li>
        <% } %>
      </ul>
    </div>

  </div>
</nav>
  
